XML/ЛР2/Task5.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Enter you external DTD here -->
<!ELEMENT BOOK (NAME, PRICE, PHOTOS, NUMBER, AUTHORS, DESCRIPTION)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT PRICE (#PCDATA)>
<!ELEMENT NUMBER (#PCDATA)>
<!ELEMENT AUTHORS (AUTHOR)>
<!ELEMENT LANGUAGE (#PCDATA)>
<!ELEMENT AUTHOR (NAME, SURNAME)>
<!ELEMENT SURNAME (#PCDATA)>
<!ELEMENT PHOTOS (PHOTO)>
<!ELEMENT PHOTO (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ATTLIST NUMBER 
ISBN ID #REQUIRED>